{% load static %}

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->


<head>
<title>Python Club OAU</title>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description"  content="Infinity HTML Template"/>
<meta name="keywords" content="Infinity, html template, Mutipurpose template">
<meta name="author"  content="teqbees"/>
<meta name="MobileOptimized" content="320">


<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
<!-- end theme style -->

<link href="{% static 'css/style4.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/styleme.css' %}" rel="stylesheet" type="text/css"/>
<!-- favicon links -->

<!-- Boostrap stylesheet -->

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<link rel="shortcut icon" type="image/ico" href="{% static 'images/icons/favicon.ico' %}"/>
</head>


<body>
<!-- preloader start -->
<div class="in_preloader">
	<div class="loader_cover">
		<img src="{% static 'images/icons/loader.gif' %}" alt="icon">
	</div>
</div>
<!-- preloader end -->
<!-- header slider section start -->
<div class="home_slider" id="home">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
		<img src="{% static 'images/bg1.jpg' %}" alt="thumb" class="img-responsive">

			<div class="slider_caption">
				<div class="slider_caption_inner">
					<h1>Hi, we are <span class="name" style="color: #c9e2b3">Python Club</span></h1>
          			<p>A community of Python Programmers and Enthusiasts.</p>
					<div class="slider_btns">
						<a href="#" class="triangle_btn">Click to learn more</a>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-slide">
			<img src="{% static 'images/bg1.jpg' %}" alt="thumb" class="img-responsive">
			<div class="slider_caption">
				<div class="slider_caption_inner">
					<<!-- h1>Simple Proffesional modern </h1>
					<p>
						There are many variations of passages of Lorem Ipsum available are many variations of passages of Lorem Ipsum available are many 
					</p> -->
					<div class="slider_btns">
						<a href="#" class="triangle_btn">view portfolio</a>
						<a href="#" class="triangle_btn">read more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<img src="{% static 'images/bg1.jpg' %}" alt="thumb" class="img-responsive">
			<div class="slider_caption">
				<div class="slider_caption_inner">
					<!-- <h1>Simple Proffesional modern </h1>
					<p>
						There are many variations of passages of Lorem Ipsum available are many variations of passages of Lorem Ipsum available are many 
					</p> -->
					<div class="slider_btns">
						<a href="#" class="triangle_btn">view portfolio</a>
						<a href="#" class="triangle_btn">read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- nav start -->
	<div class="slider_navs">
		<div class="button_prev"><i class="icon-arrow-left"></i></div>
		<div class="button_next"><i class="icon-arrow-right"></i></div>
	</div>
	<!-- nav end -->
</div>
<!-- header slider section End -->
<!-- header menu section start -->
<div class="in_header_area">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src ="{% static 'images/pythonBlack.svg' %}" alt="thumb" class="img-responsive" width="131" class="left">
					</div>
					<div class="col-md-6">
						<h4 class="full">PYTHO<!-- <span class="greenText"> -->N<!-- /span> <span class="greenText"> --> N<!-- </span> -->IGERIA</h4>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				
				<div class="nav_toggle">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="in_navigation">
					<ul class="menu">
						<li><a href="#home" class="active">Home</a></li>
						<li><a href="#about">About Us</a></li>
						<li><a href="#service">What We Do</a></li>
						<li><a href="#feature">Events</a></li>
						<li><a href="#team">Members</a></li>
						<li><a href="#projects">Projects</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="#contact">contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header menu section End -->
<!-- Home section start -->
<div class="in_section in_home_Section">
	<div class="container">
		<div class="row">
			<!-- middle heading start -->
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<div class="heading_middle heading_mdl_light">
					<h2>welcome to OAU Python User Group</h2>
						<p>Python Club is a community of Python Programmers and Enthusiasts. We work, joke, have fun and generally do amazing things with Python</p>
				</div>
			</div>
			<!-- middle heading start -->
			<div class="col-md-4 col-sm-6">
				<div class="figure_box fadebottom wow" data-wow-duration="1.5s">
					<i class="fa fa-gear"></i>
					<h3>our aim</h3>
         				<p>The club was started as a result of the need for an organized team of computer programmers that stand out from the bunch of other groups.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="figure_box fadetop wow" data-wow-duration="2s">
					<i class="fa fa-desktop"></i>
					<h3>our goal</h3>
					<p>What makes us stand out is our focus on building things rather than endless number of tutorials.</p>
            		<p>We have worked together on a lot of different projects which you can check out <a href="https://www.github.com/PythonClubOAU">here</a>.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="figure_box fadebottom wow" data-wow-duration="1.5s">
					<i class="fa fa-edit"></i>
					<h3>our vison</h3>
					<p>We"re headed by <a href="https://www.facebook.com/lekanmovearound">Olamilekan Wahab</a> .</p>
            		<p>While we try very much to be a body, our activities are regulated by the <a href="">PYUNG </a>which stands for the Python Users Group in Nigeria</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				    <h6 class="text-center">Love the idea? </h6>
            		<p class="text-center"><a id="register" class="btn btn-primary page-scroll" href="#join"><i class="fa fa-download"></i>Join us</a></p>
			</div>

		</div>
	</div>
</div>
<!-- Home section End -->

<!-- Events section starts -->

<div id="events" class="text-center">
    <div class="container">
        <div class="heading_middle">
        	<hr>
            <h2><span>Club E</span>vents</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>27th <br>
                                - <br>
                                August 2016  </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>DjangoGirls OAU</h4>
                                <h4 class="subheading">Girls-Only Django Event.</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Django Girls was a two days program aimed at introducing girls from different areas on campus to the Django Web Framework.</p>
                                <p>You can check out pictures of the event <a href="https://www.django.org/oau">here</a>  and more details about the event <a href="http://www.djangogirls.org/ile-ife">here</a> .</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>28th <br>
                                - <br>
                                December 2016 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Python Club Hackaton 101</h4>
                                <h4 class="subheading">The First Ever Python Club Hackaton on Campus</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Hackaton 101 is a competition organized by Python Club OAU. It will feature members in groups of 2s and 3s battling out to be the ultimate Python team on campus. Love the idea? Well, contact <a href="https://www.facebook.com/lekanmovearound">Lekan</a> for more information. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>29th <br>
                                - <br>
                                December 2016 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>General Meetup</h4>
                                <h4 class="subheading">Last Python Club MeetUp of the semester.</h4>
                            </div>
                            <div class="timeline-body">
                                <p>This event would be the last meetup we have for the semester. We"d do a showcase of all the things we"ve worked on, events held and things everyone learned in relation to Python through the semester..</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

<div class="container">
        <div class="heading_middle">
            <h2><span>General E</span>vents</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <!-- Education Section-->

                    <li>
                        <div class="timeline-image">
                            <h4>March<br>
                                - <br>
                                2017 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>DevTalk Event</h4>
                                <h4 class="subheading">A Four Days student developer conference for students from all
                                schools in the  country.</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Details about DevTalk coming soon....</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>


<!-- events section ends -->



<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="heading_middle">
      <h2><span>Portf</span>olio</h2>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".admin">Admin</a></li>
            <li><a href="#" data-filter=".web">Web</a></li>
            <li><a href="#" data-filter=".ds">Data Science</a></li>
            <li><a href="#" data-filter=".net">Networking</a></li>
            <li><a href="#" data-filter=".beg">Beginners</a></li>
            <li><a href="#" data-filter=".ladies">Ladies</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
      <p><b>A cross-section of our members.</b></p>
    <div class="row">
      <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 580px;">
           <div class="col-sm-6 col-md-3 col-lg-3 admin web ds beg net ladies    isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
          <div class="portfolio-item">

            <div class="hover-bg"> <a href="static/img/members/lekan.jpg" title="Hi, I&#39;m Olamilekan Wahab. Coordinator of Python Club OAU" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Olamilekan Wahab</h4>
                <small>Coordinator</small> </div>
              <img src="{% static './images/members/olamileka.jpg' %}" class="img-responsive" alt="Olamilekan Wahab"> </a> </div>
          </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 admin web isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(292px, 0px, 0px);">
            <div class="portfolio-item">

            <div class="hover-bg"> <a href="./images/members/IMG_20161010_044936.jpg" title="Hi, I&#39;m Hamza Bashir the ROUND malam" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Bashir Hamza</h4>
                <small>Malam</small> </div>
              <img src="{% static './images/members/IMG_20161010_044936.jpg' %}" class="img-responsive" alt="Hamza Bashir"> </a> </div>
          </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 beg isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(584px, 0px, 0px);">
            <div class="portfolio-item">

            <div class="hover-bg"> <a href="./images/members/IMG-20161023-WA0000.jpg" title="Hi, I&#39;m Tolu." rel="prettyPhoto">
              <div class="hover-text">
                <h4>Tolu</h4>
                <small>PyTool</small> </div>
              <img src="{% static './images/members/IMG-20161023-WA0000.jpg' %}" class="img-responsive" alt=""> </a> </div>
          </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 admin net web isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(876px, 0px, 0px);">
            <div class="portfolio-item">

            <div class="hover-bg"> <a href="./images/members/426334613_69350.jpg" title="Hi, Ashamu David. The Bosseth of Life" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Ashamu David</h4>
                <small>Boss of Life</small> </div>
              <img src="{% static './images/members/426334613_69350.jpg' %}" class="img-responsive" alt="Ashamu David"> </a> </div>
          </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 admin  web ladies isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 290px, 0px);">
            <div class="portfolio-item">

            <div class="hover-bg"> <a href="./images/members/tabithat.jpg" title="Hi, I&#39;m Tabitha" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Tabitha</h4>
                <small>Bosseth of Life</small> </div>
              <img src="{% static './images/members/tabithat.jpg' %}" class="img-responsive" alt="Fasoyin Tabitha"> </a> </div>
          </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 admin  web ladies isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(292px, 290px, 0px);">
            <div class="portfolio-item">

            <div class="hover-bg"> <a href="./images/members/Dorcas 20160828_200650.jpg" title="Hi, I&#39;m Balogun Dorcas" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Balogun Dorcas</h4>
                <small>Bosseth of the  Bosseth of Life</small> </div>
              <img src="{% static './images/members/Dorcas 20160828_200650.jpg' %}" class="img-responsive" alt="Balogun Dorcas"> </a> </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- portfolio section end -->

<!-- testimonial section Start -->
<div class="in_section testimonial_section">
	<div class="color_overlay">
		<div class="container">
			<div class="row">
				<h2 class="testimonial_heading">Famous Quotes About Python</h2>
				<!-- crousel wrap start-->
				<div class="in_testimonial_crousel">
					<!-- item start -->
					<div class="item">
						<!--left thumb start -->
						<div class="col-sm-2">
							<div class="test_thumb">
								<img src="{% static 'images/testimonial_thumb.jpg' %}" alt="thumb" class="img-responsive">
								<h4>Tim Peters</h4>
								<p>Zen Python</p>
							</div>
						</div>
						<!--left thumb end-->
						<!--test details start -->
						<div class="col-sm-10">
							<div class="test_details">
								<p>
									<i class="quotes">"</i>
									Beautiful is better than ugly.
									Explicit is better than implicit.

									</p>
							</div>
						</div>
						<!--test details end-->
					</div>
					<!-- item end -->

					<!-- item start -->
								
				<div class="item">
						<!--left thumb start -->
						<div class="col-sm-2">
							<div class="test_thumb">
								<img src="{% static 'images/testimonial_thumb.jpg' %}" alt="thumb" class="img-responsive">
								<h4>Tim Peters</h4>
								<p>Zen Python</p>
							</div>
						</div>
						<!--left thumb end-->
						<!--test details start -->
						<div class="col-sm-10">
							<div class="test_details">
								<p>
									<i class="quotes">"</i>
									Special cases aren"t special enough to break the rules.
									Although practicality beats purity.	
								</p>
							</div>
						</div>
						<!--test details end-->
					</div>
					<!-- item end -->
					<!-- item start -->

					<div class="item">
						<!--left thumb start -->
						<div class="col-sm-2">
							<div class="test_thumb">
								<img src="{% static 'images/testimonial_thumb.jpg' %}" alt="thumb" class="img-responsive">
								<h4>Tim Peters</h4>
								<p>Zen Python</p>
							</div>
						</div>
						<!--left thumb end-->
						<!--test details start -->
						<div class="col-sm-10">
							<div class="test_details">
								<p>
									<i class="quotes">"</i>
									In the face of ambiguity, refuse the temptation to guess.
									There should be one-- and preferably only one --obvious way to do it.
									Although that way may not be obvious at first unless you"re Dutch.
								</p>
							</div>
						</div>
						<!--test details end-->
					</div>
					<!-- item end -->
					<!-- item start -->

					<div class="item">
						<!--left thumb start -->
						<div class="col-sm-2">
							<div class="test_thumb">
								<img src="{% static 'images/testimonial_thumb.jpg' %}" alt="thumb" class="img-responsive">
								<h4>Tim Peters</h4>
								<p>Zen Python</p>
							</div>
						</div>
						<!--left thumb end-->
						<!--test details start -->
						<div class="col-sm-10">
							<div class="test_details">
								<p>
									<i class="quotes">"</i>
									If the implementation is hard to explain, it"s a bad idea.
									If the implementation is easy to explain, it may be a good idea.
									Namespaces are one honking great idea -- let"s do more of those!
								</p>
							</div>
						</div>
						<!--test details end-->
					</div>
					<!-- item end -->
					<!-- item start -->
					<div class="item">
						<!--left thumb start -->
						<div class="col-sm-2">
							<div class="test_thumb">
								<img src="{% static 'images/testimonial_thumb.jpg' %}" alt="thumb" class="img-responsive">
								<h4>Random</h4>
								<p>Joke</p>
							</div>
						</div>
						<!--left thumb end-->
						<!--test details start -->
						<div class="col-sm-10">
							<div class="test_details">
									<p><i class="quotes">"</i>
							And now for something completely different . . .
							—Monty Python’s Flying Circus</p>
							</div>
						</div>
						<!--test details end-->
					</div>
					<!-- item end -->
				</div>
				<!-- crousel wrap end-->
			</div>
		</div>
	</div>
</div>
<!-- testimonial section End -->

<!-- contact form section Start -->
<div class="in_section in_contact_section" id="contact">
	<div class="container">
		<div class="row">
			<!-- middle heading start -->
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<div class="heading_middle">
					<h2><span>contact</span> us</h2>
					<p>
						There are many variations of passages of Lorem Ipsum available are many variations of passages of Lorem Ipsum available are many variations of ns of passages of Lorem Ipsum availabage...
					</p>
				</div>
			</div>
			<!-- middle heading start -->
		</div>
		<!-- pricing wrap Start -->
		<div class="contact_form_wrap">
			<form>
				<div class="col-md-4 col-xs-12">
					<input type="text" name="name" placeholder="Your Name" id="user_name">
				</div>
				<div class="col-md-4 col-xs-12">
					<input type="email" name="email" placeholder="Your Email" id="user_email">
				</div>
				<div class="col-md-4 col-xs-12">
					<input type="text" name="subject" placeholder="Subject" id="user_sub">
				</div>
				<div class="col-md-12 col-xs-12">
					<textarea class="textarea" id="user_msg" placeholder="Comment"></textarea>
				</div>
				<div class="col-md-12 col-xs-12">
					<button type="button" class="cont_send" value="submit">submit</button>
				</div>
				<div class="col-md-12 col-xs-12">
					<p id="err"></p>
				</div>
			</form>
		</div>
		<!-- pricing wrap End -->
	</div>
</div>
<!-- contact form section End -->
<!-- map section Start -->
<div class="in_section in_map_part">
	<!-- loacation map start -->
		 <div class="location_map">
			<a href="#" class="find_btn">find us on map</a>
			<div id="big_googleMap"></div>
		 </div>
	 <!-- loacation map end -->
</div>
<!-- map section End -->
<!-- map section Start -->
<div class="in_section in_footer_part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 footer_wrap">
				<p class="copy_right_text">&copy; Copyright 2016 by <a href="http://teqbees.com/">teqbees</a> All Right Reserved</p>
				<div class="social_icons">
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="#">
						<i class="fa fa-google-plus"></i>
					</a>
					<a href="#">
						<i class="fa fa-linkedin"></i>
					</a>
					<a href="#">
						<i class="fa fa-youtube"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- map section End -->
<!--main js file start--> 
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- owl ncrousel js -->
<script type="text/javascript" src="{% static 'js/plugins/crousel/owl.carousel.js' %}"></script> 
<!-- owl crousel js -->
<!-- swiper slider js -->
<script type="text/javascript" src="{% static 'js/plugins/slider/swiper.min.js' %}"></script> 
<!-- swiper slider js -->
<!-- portfolio js -->
<script type="text/javascript" src="{% static 'js/plugins/portfolio/jquery.mixitup.js' %}"></script> 
<!-- portfolio js -->
<!-- animation js -->
<script type="text/javascript" src="{% static 'js/plugins/animation/wow.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/plugins/animation/jquery.appear.js' %}"></script> 
<!-- animation js -->
<!-- google map js -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDdcqzcUt1z-w8PbpYijBHZSwGHTuTHsUo"></script>
<!-- google map js -->
<!--main js file end-->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
</html>